.logo_div{
    /* width: 99%; */
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
    text-align: center;
    align-items: center;
  }
  .logo_img{
    width: 16rem;
    
  }
  .div-small{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    color: #044243;
    text-align: center;
   
  }
  .div-small a {
    text-decoration: none;
    color: #044243;
    font-weight: 500;
  }
  .home-container{
    background-color:#5ce1e6 ;
    
    min-height: 100vh;
    height: fit-content;
    padding: 10px;
    width: 100vw;
  }
  /* html, body {
    margin: 0;
    padding: 0;
    overflow: auto; /* Prevent scrollbars 
  } */
  
 .text-1{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  color: #044243;
 }
 .text-11{
 margin: 0px;
 font-weight: 700;
 margin-left: auto;
 margin-right: auto;
 text-align: center;
 font-size: 20px;
 font-family: 'Times New Roman', Times, serif;
 }

 .text-12{
  font-weight: 900;
  font-size: 60px;
  margin: -5px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .wave {
  display: block;
  position: relative;
  height: 40px;
  width: 100%;
  background: #5ce1e6;
  transform: scale(1, 1.5);
}

.wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background-color: white;
  right: -25%;
  top: 20px;
}

.wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background-color: #5ce1e6;
  left: -25%;
  top: -240px;
  clip-path: ellipse(100% 15% at -15% 100%);
}

.q1{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.q1-h{
   font-size: 1.7em;
   padding: 3px;
   font-weight: 700;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: #044243;
}
.q1-p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 20em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.8px;
  line-height: 16px;
  text-align: justify;
  color: #044243;
}
.join-now{
  border: 1px solid #044243;
  padding: 20px;
  border-radius:20px ;
  background-color:#044243 ;
  
}
/* .join-now a{
  color: #5ce1e6;
  font-weight: 800;
  font-family: Georgia, 'Times New Roman', Times, serif;
} */

.join-now a {
  color: #5ce1e6;
  font-weight: 800;
  font-family: Georgia, 'Times New Roman', Times, serif;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.join-now a:hover {
  color: #2cb1b6; /* Darker shade on hover */
  font-weight: 900; /* Slightly bolder on hover */
}
