.user-creation-form {
  min-width: 300px;
    max-width: fit-content;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h3 {
    margin-top: 20px;
    color: #333;
  }
  
  .btn {
    background-color: #044243;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #044243;
  }
  .logo_div{
    /* width: 99%; */
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
    text-align: center;
    align-items: center;
  }
  .logo_img{
    
    
    width: 13rem;
    
  }
  .regform-container{
    background-color: #cdedf6;
    min-height: 100vh;
  }
  
.comp{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   max-width: 300px;
   height: 50%;
   border-radius: 12px;
   padding: 10px;
   
}
.compnb{
   
  display: flex;
  justify-content: space-around;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   max-width: 300px;
   
   border-radius: 12px;
   padding: 10px;
   
}
.compskip{
   display: flex;
justify-content: right;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  
  border-radius: 12px;
  padding: 10px;
  
}
.innerCont{
   margin: 7px;
   border-radius: 16px;
   background-color: #cdedf6;
   padding: 8px;
   cursor: pointer;
   color: #064344;
   font-family: 'Bodoni Moda', serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2;

}
.updateprofmaindiv{
  
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      max-width: 300px;
      height: fit-content;
      border-radius: 12px;
      padding: 10px;
      background-color: #064344;
}
.selectwidth{
   width: 90%;
}
.progressbar{
   width: 90%;
   margin-left: auto;
   margin-right: auto;
}
.inp{
  width: 99%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(128, 128, 128, 0.158);
  border-radius: 12px;
  padding: 10px;
  text-align: center;
}

.reg-form-h{
  font-family: 'Bodoni Moda', serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2;
  color: #cdedf6;
  margin-left: auto;
  margin-right: auto;
}